body {
  padding:0;
  margin:0;
  font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

.wide {
  width: 320px;
}

.window {
  position: absolute;
  padding: 5px;
  border: 1px solid #bdbdbd;
}

.node {
  text-align:left!important;
  background-color: #AAAAAA;
  border-top: 5px solid #aaa;
  /* height:10em; */
  height:120px;
  line-height: 20px;
  color: white;
  font-weight: bold;
}

.controller {
  background-color:rgb(51,105,232);
  color: white;
}

.pod {
  width: 320px;
  background-color:#eeeeef;
  line-height: 20px;
  height: 20px;
}

.spot {
  border-top: 5px solid rgba(243, 17, 17, 0.89);
}

.logo {
  background: url('banzai-cloud-logo-w.svg');
  background-repeat: no-repeat;
  height: 150px;
  width: 600px;
}

.navbar-logo {
  margin-left: 25px;
  text-align: left;
}

.navbar-logo span {
  line-height: 42px;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif !important;
  padding-left: 5px;
  font-size: 16px;
  letter-spacing: 6px;
  color: #fff;
  position: relative;
  top: 3px;
}

#nav-logo-img {
  width: 70px;
  height: 42px;
  vertical-align: middle;
}

.navbar {
  background-color: #143176;
  border: 0px;
  border-radius: 0;
}

.window span {
  vertical-align: top;
}

#main {
  margin-top: 0;
  width: auto;
  height: 100%;
  max-width: none;
  max-height: none;
}

.demo {
  position: absolute;
  top: 42px;
  bottom: 0;
  height: auto;
  margin-bottom: 0;
}
