body {
  padding:0;
  margin:0;
  font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

.wide {
  width: 320px;
}

.window {
  position: absolute;
  padding: 5px;
  border: 1px solid #bdbdbd;
}

.node {
  text-align:left!important;
  background-color: #AAAAAA;
  /* height:10em; */
  height:120px;
  line-height: 20px;
  color: white;
  font-weight: bold;
}

.controller {
  background-color:rgb(51,105,232);
  color: white;
}

.pod {
  width: 320px;
  background-color:#eeeeef;
  line-height: 20px;
  height: 20px;
}

.logo {
  background: url('titlelogo.svg');
  background-repeat: no-repeat;
  height: 150px;
  width: 600px;
}

.navbar-logo {
  margin-left: 10px;
  text-align: left;
}

#nav-logo-img {
  height: 42px;
}

.navbar {
  background-color: #447AE8;
  border: 0px;
  border-radius: 0;
}

.window span {
  vertical-align: top;
}

#main {
  margin-top: 0;
  width: auto;
  height: 100%;
  max-width: none;
  max-height: none;
}

.demo {
  position: absolute;
  top: 42px;
  bottom: 0;
  height: auto;
  margin-bottom: 0;
}
